body {
    font-family: 'Open sans';
    font-weight: 400;
}

nav a {
    font-size: 21px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}